* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.sfondo {
    background-color: grey;
    object-fit: fill;
}

.container {
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

header {
    width: 100%;
    height: 200px;
    background-color: yellow;
    top: 10px;
    position: relative;
}

.intestazione {
    height: 80%;
    width: 100%;
    background-color: orange;
    border: 7px solid white;
}

.menu {
    width: 100%;
    height: 20%;
    background-color: lightgrey;
}

aside {
    width: 25%;
    height: 700px;
    background-color: yellow;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

main {
    width: 46%;
    height: 700px;
    background-color: yellow;
    margin: 30px 2% 30px 2%;
    float: left;
}

footer {
    width: 100%;
    height: 300px;
    background-color: lightblue;
}
